process {
   withName:fastqc{
       container = 'docker://staphb/fastqc:0.11.9'
   }
   withName:trimmomatic{
       container = 'docker://staphb/trimmomatic:0.39'
   }
   withName:bbduk{
       container = 'docker://staphb/bbtools:38.76'
   }
   withName:fastqc_clean{
       container = 'docker://staphb/fastqc:0.11.9'
   }
   withName:multiqc{
       container = 'docker://staphb/multiqc:1.8'
   }
   withName:frag_bwa{
       container = 'docker://staphb/bwa:0.7.17'
   }
   withName:frag_samtools{
       container = 'docker://staphb/samtools:1.12'
   }
   withName:bcftools{
       container = 'docker://staphb/bcftools:1.12'
   }
   withName:amplicon_stat{
       container = 'docker://staphb/samtools:1.12'
   }
   withName:bedtools{
       container = 'docker://staphb/bedtools:latest'
   }

}